
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 20px;
    height: 100px;
    position: fixed;
}
.zonaLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logoTipo{
    background: linear-gradient(to left, aquamarine, rgb(0, 153, 255));
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h2{
   color: aquamarine;
}
.pesquisaInput{
    border: 1px solid whitesmoke;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background: none;
    color: aliceblue;
    outline: none;
}
.pesquisaInput::placeholder{
    color: whitesmoke;
}
.opcoes li{
    list-style: none;
}
.opcoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    color:aliceblue;
    transition: background ease 0.3s, color ease 0.3s;
}
.opcoes a:hover{
    text-decoration: none;
    color:rgb(0, 88, 146);
    background: rgb(192, 255, 234,0.3);
}
.opcoes{
    display: flex;
    gap: 25px;
}
.navegacao{
    display: flex;
    gap: 25px
}
.botaoEntrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 153, 255);
    gap: 10px;
    transition: background ease 0.3s;
}
.botaoEntrar:hover{
    background: rgb(0, 114, 190);
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, aquamarine, rgb(0, 153, 255), rgb(0, 74, 148));
    height: 550px;
    gap: 50px;
}.txtBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 800px;
    flex-direction: column;
}
.txtBanner p{
    font-size: 20px;
}
.banner h1{
    font-size: 60px;
}
.botaoBanner{
    display: flex;
    gap: 10px;
}
.botaoBanner button{
    padding: 15px 50px;
    border-radius: 20px;
}
.btnOfertas{
    background: white;
    color: rgb(26, 126, 92);
    font-weight:700;
    transition: box-shadow ease 0.3s;
}
.btnOfertas:hover{
    box-shadow: 0 0 5px whitesmoke;
}
.explorarCate {
    border: 1px solid whitesmoke;
    transition: background ease 0.3s, border ease 0.3s;
}
.explorarCate:hover {
    background: rgba(0,0,0, 0.5);
    border: 1px solid whitesmoke;
}

.cards-grid{
    display: flex;
    
}
.textCategoria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    background: linear-gradient(grey, 0.5);
}

.card-produto-link {
    text-decoration: none;
    color: inherit;
}
.card-produto{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 300px;
    height: 350px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(to left, rgb(50, 50, 50), black);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform ease 0.3s, border ease 0.3s, box-shadow ease 0.3s;
}
.card-produto:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 15px aquamarine;
    border: 1px solid aquamarine;
}
.card-produto-imagem{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.card-produto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex: 1;
}
.card-produto-titulo{
    color: aliceblue;
    font-size: 20px;
    margin: 0;
}
.card-produto-avaliacao{
    color: aliceblue;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

