
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 20px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.zonaLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.zonaLogo h2{
    margin-top: 10px;
    display: block;
}
.logoTipo{
    background: rgba(0, 30, 55, 0.2);
    backdrop-filter:blur(15px);
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoTipo img {
    width: 50px;
    border-radius: 15px;
}
header h2{
   color: rgb(255, 255, 255);
}
.pesquisaInput{
    border: 1px solid whitesmoke;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background: none;
    color: aliceblue;
}
.pesquisaInput::placeholder{
    color: whitesmoke;
}
.opcoes li{
    list-style: none;
}
.opcoes a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    color:aliceblue;
    transition: background ease 0.3s, color ease 0.3s;
}
.opcoes a:hover{
    text-decoration: none;
    color:rgb(0, 88, 146);
    background: rgb(192, 255, 234);
}
.opcoes{
    display: flex;
    gap: 25px;
}
.navegacao{
    display: flex;
    gap: 25px
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 153, 255);
    gap: 20px;
    width: 100px;
    border: none;
    border-radius: 10px;
    transition: background ease 0.3s;
    color: rgb(255, 255, 255);
}
.usuario:hover{
    background: rgb(70, 181, 255);
}

