.page-produtos-wrapper {
    min-height: 100vh;
    background-color: #121212;
}

.erro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 120px 20px 40px 20px;
    text-align: center;
    color: whitesmoke;
}

.erro-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: aquamarine;
}

.erro-container p {
    font-size: 1.2em;
    color: whitesmoke;
}

