.cards-grid {
  display: flex; 
  flex-wrap: wrap; 
  gap: 50px;
  justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 5px;
    min-width: 200px;
    width: 300px;
    color: rgb(77, 97, 95);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 170px;
    background: linear-gradient(to left ,rgb(50, 50, 50), black);
    cursor:pointer;
    transition: transform ease 0.3s, border ease 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px aquamarine;
    border: 1px solid aquamarine;
}
.card-icone{
    font-size: 30px;
    transition: color ease 0.3s;
}
.card-icone:hover{
    color: aquamarine;
}