* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
}

.login-container{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    color: white;
}

.header-top {
    text-align: center;
    margin-bottom: 25px;
    
}

.logo{
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #00ff6a, #00c853);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin: 0 auto 15px;
}

.header-top h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

.header-top p {
    color: #888;
    font-size: 14px;
}

.tabs-area {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.tabs{
    display: flex;
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 4px;
    border-radius: 8px;
}

.tabs button{
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 0;
    color: #888;
    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.3s;
}

.tab-active{
    background: white !important;
    color: black !important;
}

.form-box {
    width: 100%;
    max-width: 400px;
    background: #000;
    border: 1px solid #333;
    padding: 25px;
    border-radius: 12px;
}

.form-header-text h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.form-header-text p {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.inputs{
    position: relative;
    margin-top: 15px;
}

.inputs input{
    width: 100%;
    padding: 12px 12px 12px 45px;
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    outline: none;
}

.inputs input:focus {
    border-color: #00ff6a;
}

.icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    opacity: 0.6;
    color: #aaa;
}

.btn-verde{
    width: 100%;
    padding: 12px;
    background: #00c853;
    border: none;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.btn-verde:hover{
    background: #00b44b;
}

.termos{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #666;
    line-height: 1.4;
}

.termos1{
    color: #14ff82;
    cursor: pointer;
}