body {
  background-color: #121212; 
  color: white;              
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: 0;                 
  padding: 0;                
}

.container-anuncio {
  display: flex;         
  flex-direction: row;    
  gap: 40px;              
  padding: 40px;          
}


.img {
  /* O flex: 0 0 auto garante que a imagem não encolha nem estique */
  flex: 0 0 auto; 
  width: 700px;  
  height: 400px;
  background-color: #838383; 
  border-radius: 12px;
  color: white;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.valoresTitulo {
    
}

button {
    background: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.valoresBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.valorTotal {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-valorTotal {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    background-color:  rgba(174, 255, 52, 0.747);
    padding: 10px;
}

.valorTotal h4 {
    font-size: 16px;
    font-weight: normal;
    color: #76ff76e1;
    margin: 20px 15px 0 15px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  color: rgba(179, 179, 179, 0.849);
}
